/*************************
         Global
 *************************/
body {
    font-family: "Merriweather", sans-serif;
    font-size: 1.2em;
    line-height: 1.1;
    font-weight: 400;
}
h1 {
    font-size: 1.1rem;
    font-weight: 900;
    color: white;
}
header {
    background: #966B7C;
}
.signup p {
    font-size: .75em;
}
.border-btm {
    width: 90%;
    margin: 2rem auto .2rem auto;
    border-bottom: 5px solid #2d3945;
}
.border-top {
    width: 90%;
    margin: 0 auto 1.5rem auto;
    border-top: 3px solid #2d3945;
}
fieldset,
input,
textarea,
select,
button {
    border: 0;
    resize: none;
    border-radius: 5px;
}
.headings {
    color: #2d3945;
    font-size: 1.2rem;
    font-weight: bold;
}
input,
textarea,
select {
    background: #eff0f1;
    font-size: .75rem;
}
.required::placeholder {
    font-size: .75rem;
    color: #aeb3b7;
    text-align: right;
}
select:nth-child(2) {
    color: #5a6c7e;
}
fieldset label,
fieldset p {
    color: #5a6c7e;
    font-size: .75rem;
}
button {
    color: white;
    font-weight: bold;
    background: #4ebbb5;
}
section p,
footer p {
    color: #b9bec1;
}

/*************************
         Flexbox
 *************************/
.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.newsletter {
    flex-direction: row;
}

/*************************
         Header
 *************************/
header {
    width: 100%;
    padding: 1.5rem 0;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}
.signup {
    width: 100%;
    max-width: 768px;
    text-align: center;
    margin: 1.5rem auto 0 auto;
}

/*************************
         Form
 *************************/
form {
    max-width: 768px;
    margin: 0 auto;
}
input,
select {
    padding: 1rem 0;
}
input,
textarea,
select {
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    border: 2px solid white;
    transition: background .4s ease, border .4s ease;

}
input:focus,
textarea:focus,
select:focus {
    border: 2px solid #748da6;
    background: #fcfbfb;
}

/*************************
         Contact
 *************************/
.contact-field label {
    margin-bottom: .5rem;
}
input[name="zip"] {
    width: 50%;
}

/*************************
         Newsletter 
 *************************/
.newsletter-field p:nth-child(n+3) {
    margin-top: 1.8rem; 
}
input[type="checkbox"],
input[type="radio"] {
    margin-right: .7rem;
}
textarea {
    height: 6rem;
    margin-bottom: 1rem;
}
button {
    height: 4rem;
    transition: background .3s ease;
}
button:hover {
    cursor: pointer;
    background: #2d3945;
}

/*************************
         Footer 
 *************************/
footer p {
    font-size: .75rem;
    text-align: center;
    margin: 1rem 0 10rem 0;
}
footer p::before {
    content: "\00a9";
}

/*************************
         Media Query 
 *************************/
@media screen and (min-width: 768px) {
    .border-btm,
    .border-top {
        width: 96%;
    }
    .border-top:first-child {
        opacity: 0;
        background-color: red;
    }
    form {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    }
    .contact {
        flex-direction: row;
    }
    .contact label {
        flex-basis: 9rem;
        flex-grow: 0;
        flex-shrink: 0;
        align-self: center;
    }
    .contact input,
    .contact select {
        flex: 1;
    }
    input[name="zip"] {
        flex: .23;
    }
}